* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.navbar {
    width: 100%;
    padding: 20px;
    padding-left: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: -10px;
    background-color: #f7f7f7;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.create-post {
    width: 400px;
    padding: 20px;
    position: fixed;
    top: 400px;
    right: 0px;
    text-align: center;
    background-color: #e2e2e2;
}
.create-post-input {
    border: none;
    padding: 2% 2% 2% 2%;
    width: 96%;
    background-color: #f7f7f7;
    margin: 10px;
}
.submit-post {
    font-size: 20px;
    border: none;
    padding: 8px;
    border-radius: 6px;
}
.submit-post:hover {
    background-color: #606060;
    color: white;
}
.post {
    width: 100%;
    margin-top: 30px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}
.username {
    font-weight: bold;
}
.profpic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.post-picture {
    width: 800px;
}
.post-likes {
    height: 30px;
    font-weight: bold;
}
.post-body {
    padding: 10px;
}
.post-content {
    margin-bottom: 10px;
}
.add-comment {
    border: none;
    padding: 2% 2% 2% 2%;
    width: 96%;
    background-color: #f7f7f7;
}
/* .post-comments {
} */
body {
    background-color: #efefef;
    font-family: "Arial", Arial, Helvetica, sans-serif;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.5px solid #e5e5e5;
    border-radius: 5px;
}